<form autocomplete="off" action="<%= baseUrl %>/interaction/<%= uid %>/continue" method="post">
    <button autofocus type="submit" class="login login-submit">Continue as <%= email %></button>
</form>
<form autocomplete="off" action="<%= baseUrl %>/interaction/<%= uid %>/continue" method="post">
    <input type="hidden" name="switch" value="true">
    <button type="submit" class="login">Switch account</button>
</form>